body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #383838;
    overflow: hidden;
    background-color: #e9e9e9;
    margin: 0;
}


/* Working area (center of the page) */

#container {
    height: 100%;
    width: 100%;
}

#image {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


/* Annotations */

.rectangle {
    position: absolute;
    border: var(--annotation-border-width) solid red;
}

.ellipse {
    position: absolute;
    border: var(--annotation-border-width) solid red;
    border-radius: 100%;
}

.point {
    position: absolute;
    border: var(--annotation-border-width) solid red;
    border-radius: 100%;
}


/* Button to end polygon annotation */

#polygon-button {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: orange;
    z-index: 10;
}


/* Annotation miniature image/text label */

.miniature {
    position: absolute;
    width: 32px;
    right: -32px;
    top: 0;
    background-color: white;
}

.miniature-label {
    position: absolute;
    background-color: white;
    white-space: nowrap;
}


/* Top panel with new folder, import labels, help and submit buttons and image name text */

#top-wrapper {
    z-index: 10;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #C8C8C8;
    text-align: center;
}

.top-wrapper-btn {
    margin: 10px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 20;
    color: #383838;
    cursor: pointer;
    user-select: none;
    float: left;
    font-family: inherit;
}

#submit-btn {
    margin: 10px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(168, 248, 168);
    border: #383838 solid 1px;
    border-radius: 2px;
    font-size: 20;
    cursor: pointer;
    user-select: none;
    float: right;
    font-family: inherit;
}

#submit-btn:hover {
    background-color: rgb(150, 248, 150);
}

#title-text {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 13px;
    font-size: 24;
    font-weight: 600;
    z-index: -10;
}


/* Error message shown in the middle of the working area when image cannot be loaded */

#error-msg {
    display: none;
    margin: auto;
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    width: 400px;
    padding: 5px;
    background-color: indianred;
    text-align: center;
    font-size: 20;
}


/* Status text with misc info shown in the left bottom corner of the working area */

#status {
    position: absolute;
    bottom: 0;
    left: 200px;
    padding: 3px;
    background-color: orange;
    z-index: 20;
}

#status:empty {
    display: none;
}


/* Left side panel with labels to choose from */

#toolbar {
    background-color: #C8C8C8;
    display: grid;
    grid-template-columns: 1fr;
    height: calc(100% - 60px);
    width: 200px;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 10;
    border-collapse: collapse;
    overflow-y: auto;
    overflow-x: hidden;
}

.toolbar-item {
    border: 1px solid #383838;
    cursor: pointer;
    user-select: none;
    background-color: whitesmoke;
}

.toolbar-text {
    height: 100%;
    width: 146px;
    margin: auto;
    color: black;
    font-size: 18;
}

.toolbar-img {
    width: 35px;
    height: 35px;
}


/* Toolbar with undo, redo, toggle annotations and toggle miniatures button */

#top-toolbar {
    position: fixed;
    margin: 0 auto;
    padding: 0;
    z-index: 10;
    left: 0;
    right: 0;
    width: 238px;
    top: 60px;
}

#top-toolbar button {
    margin: 0px;
    padding: 0px;
}

#top-toolbar img {
    width: 50px;
    height: 50px;
}


/* Right side history panel */

#history {
    background-color: #C8C8C8;
    display: grid;
    grid-template-columns: 1fr;
    height: calc(100% - 60px);
    width: 200px;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 10;
    border-collapse: collapse;
    overflow-y: auto;
    overflow-x: hidden;
}

.toolbar-subtext {
    font-size: 12;
    color: gray;
}